.container {
    width: '100%';
    gap: 50px;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around ;
    background  : var(--background-color);
    position: relative;
    overflow: hidden;
}

.titleBox {
    gap: 15px;
    display: flex;   
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sliderContainer {
    width: 60%;
    overflow: hidden;
    border-radius: 20px;
}

.topLayer {
    top: 0;
    position: absolute;
}

.bottomLayer {
    bottom: 0;
    position: absolute;
}

@media screen and (max-width: 1000px) {
    .sliderContainer {
        width: 100%;   
    }
}