.secondaryButton {
    font-size: 18px;
    padding: 16px 32px;
    text-align: center;
    border-radius: 15px;
    font-weight: 700;
    transition: .2s;
    text-transform: capitalize;
    color: var(--secondary-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
}

.secondaryButton:hover {
    color: var(--dark-color);
    background-color: var(--primary-color);
}