.container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  overflow: hidden;
}

.imagesContainer {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.detailsContainer {
  max-width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.colorsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.colors {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.colorOuter {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.sizeOuter {
  display: grid;
  place-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--dark-color);
}

.buttonsAction {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
