.container {
    width: 100%;
    min-height: calc(100vh - 75px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url('assets/images/background.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
}

.textContainer {
    gap: 40px;
    z-index: 50;
    display: flex;
}

.dash {
    margin-top: 25px;
}

.textLayout {
    gap: 15px;
    position: relative;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.smallText {
    width: 30px;
}

.animatedText {
    bottom: -80px;
    left: -100px;
    position: absolute;
    transform: rotate(270deg);
}

.imageContainer {
    max-width: 100%;
    z-index: 10;
    position: relative;
    animation: opacity 2s ease-in-out;
}

.statueImage {
    z-index: 1;
    max-width: 100%;
}

.imageBackground {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 103px;
    /* left: -65px; */
    z-index: -1;
    transform: rotate(45deg);
    background-color: black;
    border-left: 2px dotted var(--primary-color);
    border-bottom: 2px dotted var(--primary-color);
    animation: shadow 3s ease-in-out 0s infinite alternate;
}

@media screen and (max-width: 1000px) {
    .container {
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px) {
    .textContainer {
        gap: 20px;
    }

    .animatedText {
        bottom: -80px;
        left: -85px;
    }
}

@media screen and (max-width: 400px) {
    .textContainer {
        gap: 20px;
    }
}

@keyframes shadow {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0px 0px 40px var(--primary-color);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
